.loader{
    height: 50px;
    animation: rotate 3s linear infinite;
}

.circle {
	animation: grow 1.5s linear infinite;
	background-color: purple;
	border-radius: 50%;
	display: inline-block;
	margin: -10px;
	height: 40px;
	width: 40px;
	transform: scale(0);
}

.circle:nth-of-type(2) {
	animation-delay: .75s;
	background-color: palevioletred;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes grow {
	50% {
		transform: scale(1);
	}
}
